Environment variables and secrets
NEVER commit this file to version control.
.env

Python specific files
pycache/
*.pyc
*.pyo
*.pyd

Virtual environment folders
Collaborators will create their own based on requirements.txt
venv/
.venv/
env/
.env/

IDE and editor specific files
.vscode/
.idea/
*.swp

OS-specific files
.DS_Store
Thumbs.db

/node_modules